body {
	font: 12pt "Helvetica Neue", Arial, sans-serif;
	background-color: #000;
	color: #333;
	padding: 0;
	margin: 0;
}

a {
	color: #f90;
}

a:hover {
	color: #fc0;
}

header, footer, canvas {
	display: block;
}

#banner {
	border-bottom: 1px solid #000;
	text-align: center;
}
#banner h1 {
	color: #000;
	text-shadow: 0 -1px 1px #ff0, 0 -3px 3px #f60, 0 -6px 4px #600;
	font-size: 2em;
	line-height: .9;
}

#content {
	background-color: #111;
	clear: both;
	padding: 1em 0;
}

canvas {
	width: 480px;
	height: 320px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #630;
	background-color: #000;
	box-sizing: content-box;
}

#about {
	border-top: 1px solid #000;
	padding-top: 10px;
	text-align: center;
}

#about p {
}